body {

    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: FFFFFF;
    color: #394150;

}

.redline {

    display: inline-block;
    width: 50px;
    border: none;
    border-bottom: 2.5px solid #FF143E;

}

.heading {

    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px

}

.sub-heading {

    font-size: 1.3rem;
    font-weight: 400;

}

.usps-section,
.promote,
.teacher-section-content-box,
.media-content-box,
.short-course-content-box,
.recent-course-content-box {

    width: 90%;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    position: relative;

}

.section-cta {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    color: white;
    background-color: #FF143E;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.section-cta:hover {

    cursor: pointer;
    background-color: #a80e2b;

}

/* Navbar CSS */

header {

    box-shadow:  0px 8px 24px rgba(149, 157, 165, 0.2);
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;


}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
    height: 70px;
}

.navbar h2 {

    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;

}

.nav-logo {

    width: 40px;

}

.nav-link {

    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin: 0px 8px;
    line-height: 66px;
    display: inline-block;
    height: 66px;
    transition: all 0.2s ease;

}

.nav-link:hover {

    color: #FF143E;
    box-shadow: 0px 4px 0 #FF143E;

}

/* Hero Image section */

.promote {

    margin: 100px auto 0px auto;

}

.promote-img {

    width: 100%;
    border-radius: 10px;

}

/* USP section */

.usps-section {

    text-align: center;
}

.usp-box {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.usp-item {

    width: 260px;
    margin: 20px 50px;

}

.usp-img {

    width: 100%;

}

.usp-title {

    font-size: 1.2rem;
    font-weight: 500;

}

.usp-text {

    font-size: 1rem;
    font-weight: 300;

}

/* Teachers section */

.teacher-section {

    background-color: #F9FAFB;
    margin-top: 100px;
    padding-top: 80px;

}

.heading-box {

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.teacher-box {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher-card {

    background-color: #FFFFFF;
    width: 40%;
    margin: 30px auto 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 7px 29px 0px rgba(128, 128, 143, 0.2);
}

.teacher-info {

    display: flex;

}

.teacher-info img {

    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.teacher-details {

    margin-left: 20px;
    margin-bottom: 20px;

}

.teacher-details .title {

    font-weight: 400;
    margin-bottom: 0px;

}

.teacher-details .name {

    margin-top: 8px;

}

.teacher-social-link {

    font-size: 1.3rem;
    margin-right: 10px;
    color: #A0A6B1;

}

.teacher-info-divider {

    border: none;
    border-bottom: 1px solid #E5E7EB;

}

.teacher-desc a {

    color: #FF143E;
    text-decoration: none;

}

.teacher-desc a:hover {

    text-decoration: underline;
}

.othercourse-divier {

    display: flex;

}

.othercourse-divier .othercourse-title {

    width: 25%;
    font-weight: 400;
    font-size: 1rem;

}

.othercourse-divier .teacher-info-divider {

    width: 75%;
    align-self: center;

}

.course-btn {

    background-color: #FFFFFF;
    height: 40px;
    font-size: 1rem;
    color: #FF143E;
    border: 1px solid #FF143E;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.2s ease;

}

.course-btn:hover {

    cursor: pointer;
    background-color: #FF143E;
    color: white;

}

/* Media section */

.media-section {

    background-color: #F9FAFB;
    padding-top: 80px;
    padding-bottom: 100px;

}

.media-content-box .heading-box {

    text-align: center;

}

.media-box {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-item {

    width: 41%;
    margin: 10px 25px;

}

.media-source-date {

    color: #6C727F;

}

.media-item a {

    text-decoration: none;
    color: #394150;

}

.media-item a:hover {

    color: #FF143E;

}

/* Short-course section */

.short-course-section {

    background-color: #2A303E;

}

.short-course-section .heading,
.short-course-section .other-course-title,
.short-course-section .other-course-desc,
.short-course-section a {

    color: white;
    text-decoration: none;

}

.short-course-section a:hover {

    text-decoration: underline;
}

.short-course-section .sub-heading {

    color: #A0A6B1;
}


.short-course-content-box {

    display: flex;
    height: 400px;
    padding-top: 80px;
    margin-top: 0px;
    justify-content: center;

}

.short-course-section-item:nth-child(1),
.short-course-section-item:nth-child(3) {

    width: 45%;
    margin: 20px;
}

.short-course-section-item:nth-child(2) {

    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;

}

.short-course-section-item i {

    font-size: 0.7rem;
    margin-top: 10px;
    color: #6C727F;

}

.short-course-section-item i:nth-child(1) {

    color: #FF143E;

}

.short-course-section-item:nth-child(3) {

    background-color: #FF143E;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;

}

/* Short-course section */


.recent-course-section {

    background-color: #2A303E;
    padding-top: 20px;
    padding-bottom: 80px;

}

.recent-course-content-box {

    margin-top: 0px;

}

.recent-course-title {

    color: white;
}

.recent-course-box {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

}

.recent-course-item {

    width: 32%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.recent-course-item img {

    width: 100%;
    border-radius: 10px 10px 0 0;
}

.recent-course-item p,
.recent-course-item h3 {

    margin-left: 20px;
    display: inline-block;
}

.recent-course-item p:nth-of-type(1) {

    font-size: 0.8rem;
    border: 1px solid #D3D6DB;
    display: inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;

}

.divider {

    border: none;
    border-bottom: 1px solid #D3D6DB;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

.recent-course-item h3 {

    width: 60%;
    color: #A4AAB4;
    font-size: 1rem;
    font-weight: 400;

}

.advanced-course,
.entry-course {

    width: 25%;
    font-size: 0.8rem;
    text-align: right;
    
}

.advanced-course {

    color: #F87373;
}

.entry-course {

    color: #3ED59D;
}

.hover-box {

    display:inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

.recent-course-item:hover {

    box-shadow: 0px 10px 0px #FF143E;
    transform:translateY(-10px);

}