body {

    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: FFFFFF;

}

.redline {

    display: inline-block;
    width: 60px;
    border: none;
    border-bottom: 2px solid #FF143E;

}

/* Navbar CSS */

header {

    box-shadow:  0px 8px 24px rgba(149, 157, 165, 0.2);
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;


}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
    height: 70px;
}

.navbar h2 {

    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;

}

.nav-logo {

    width: 40px;

}

.nav-link {

    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin: 0px 8px;
    line-height: 66px;
    display: inline-block;
    height: 66px;

}

.nav-link:hover {

    color: #FF143E;
    box-shadow: 0px 4px 0 #FF143E;

}

/* Hero Image section */

.promote {

    width: 90%;
    max-width: 1200px;
    margin: 100px auto 0px auto;

}

.promote-img {

    width: 100%;
    border-radius: 10px;

}